body {
    margin: 0px;
}

header {
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: 300px;
    padding-top: 30px;
    padding-left: 3px;
    padding-bottom: 5px;
}
.container {
    margin-left: 5px;
}

#logo {
    width: 20%;
}

.titolo p {
    color: grey;
    font-size: 12px;
}

p, #data {
    font-size: 8px;
}

#testo-colorato {
    color: rgb(75, 177, 236);
}

figcaption {
    font-size: 8px;
}