body {
    margin: 0px;
    font-size: 12px;
}

header {
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: 300px;
    padding-top: 30px;
    padding-left: 3px;
    padding-bottom: 5px;
}
.container {
    margin-left: 5px;
}

#logo {
    width: 20%;
}
h1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.titolo p {
    color: grey;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 0px;
}

#data {
    font-size: 8px;
    margin-top: 0px;
    margin-bottom: 10px;
}

#testo-colorato {
    color: rgb(75, 177, 236);
}

figcaption {
    font-size: 8px;
}

#testo-evidenziato {
    background-color: yellow;
}

ul {
    padding-left: 1.2em;
}

